In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })
df

In [ ]:
type(df)

In [ ]:
grouped = df.groupby('A')

In [ ]:
type(grouped)

In [ ]:
grouped.head()

In [ ]:
for name, group in grouped:
    print(name)
    print(group)

In [ ]:
len(grouped)

In [96]:
import pandas as pd

#任意的多组列表
a = [1,2,3]
b = [4,5,6]    

#字典中的key值即为csv中列名
dataframe = pd.DataFrame({'a_name':a,'b_name':b})

#将DataFrame存储为csv,index表示是否显示行名，default=True
dataframe.to_csv("test.csv",index=False,sep=',')

In [ ]:
dataframe.head()

In [ ]:
a.append(e for e in b)

In [ ]:
a

In [ ]:
for e in b:
    a.append(e)

In [ ]:
a

In [8]:
evaluation_data = pd.read_csv('a.csv')
print(evaluation_data.shape)
evaluation_data.head()

(5280, 2)

   id  forecastVolum
0   1     292.014818
1   2     316.630647
2   3     167.068696
3   4     326.016281
4   5     353.496258

In [9]:
evaluation_data.shape

(5280, 2)

In [10]:
evaluation_data.iloc[4]

id                 5.000000
forecastVolum    353.496258
Name: 4, dtype: float64

In [5]:
evaluation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5280 entries, 0 to 5279
Data columns (total 2 columns):
id               5280 non-null int64
forecastVolum    5280 non-null float64
dtypes: float64(1), int64(1)
memory usage: 82.6 KB

In [6]:
below_0 = evaluation_data[(evaluation_data.forecastVolum <= 0)].index.tolist()

import random
for e in below_0:
    evaluation_data.loc[(evaluation_data.index == e), 'forecastVolum'] = random.randint(1, len(below_0))

In [7]:
below_0 = evaluation_data[(evaluation_data.forecastVolum <= 0)].index.tolist()
len(below_0)

0

In [19]:
evaluation_data.loc[(evaluation_data.province == "上海") 
                                 & (evaluation_data.model == "3c974920a76ac9c1" ) 
                                 & (evaluation_data.regMonth == 1),  'forecastVolum'] = 888

AttributeError: 'DataFrame' object has no attribute 'province'

In [95]:
evaluation_data.loc[0]

id                              1
province                       上海
adcode                     310000
model            3c974920a76ac9c1
regYear                      2018
regMonth                        1
forecastVolum                 888
Name: 0, dtype: object

In [6]:
import random
random.randint(1, 66)

31