In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame({
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })
df

     A      B         C         D
0  foo    one  0.691074 -0.497036
1  bar    one  2.504737  0.167053
2  foo    two -0.418805 -0.117790
3  bar  three -0.177919 -0.706951
4  foo    two -1.092334  0.101430
5  bar    two -0.361884 -2.079946
6  foo    one -2.084447  0.809075
7  foo  three  2.491772 -0.374715

In [5]:
type(df)

pandas.core.frame.DataFrame

In [9]:
grouped = df.groupby('A')

In [10]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [11]:
grouped.head()

     A      B         C         D
0  foo    one  0.691074 -0.497036
1  bar    one  2.504737  0.167053
2  foo    two -0.418805 -0.117790
3  bar  three -0.177919 -0.706951
4  foo    two -1.092334  0.101430
5  bar    two -0.361884 -2.079946
6  foo    one -2.084447  0.809075
7  foo  three  2.491772 -0.374715

In [12]:
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one  2.504737  0.167053
3  bar  three -0.177919 -0.706951
5  bar    two -0.361884 -2.079946
foo
     A      B         C         D
0  foo    one  0.691074 -0.497036
2  foo    two -0.418805 -0.117790
4  foo    two -1.092334  0.101430
6  foo    one -2.084447  0.809075
7  foo  three  2.491772 -0.374715

In [13]:
len(grouped)

2